/*.bloc {
    background-image: url(assets/original.jpg);
    background-size: cover;
    height: 150px;
    width: 150px;
}
/*.bloc:hover {
    /*background-image: url(assets/Chat.png);
    background-size: cover;*/
    /*background: url('https://www.vetostore.com/media/wysiwyg/img_fiche_conseil/conseil-chat-temp_rature-1.jpg')no-repeat center center/cover;
}*/
/*.bloc {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: orange;
}
.bloc:hover {
    height: 150px;
    width: 150px;
    background-color: blue;
    border-radius: 50%;
}*/
.bloc {
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: orange;
    background: url(Assets/Stars.jpg)no-repeat center center/cover;
}
.bloc:hover {
    height: 150px;
    width: 150px;
    background-color: blue;
    border-radius: 50%;
    background: url(Assets/Chat.png)no-repeat center center/cover;
}